@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
@layer utilities {
  .h-750 {
    height: 750px;
  }

  .h-500 {
    height: 500px;
  }

  .hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .font-lora {
    font-family: 'Lora', serif;
  }
  .about-us-btn:hover {
    transform: scale(1.2);
  }

  .montez {
    font-family: 'Montez', cursive;
    color: #00857A;
    font-size: 17px;
  }

  .montez-white {
    font-family: 'Montez', cursive;
    font-size: 17px;
    color: white;
  }
  .subtitle {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 40px;
    color: black;
  }
  .subtitle-white {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 40px;
    color: white;
  }

  .input {
    background-color: transparent;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 2vh;
  }

  .error {
    color: rgb(225, 71, 71);
    text-align: left;
  }

  .footer-title {
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
  }
  .image {
    max-width: 480px;
    @media (max-width: 768px) {
      width: 224px
    }
    
  }
}

@layer components {
  h1, h2, h3, h4, h5, h6 {
    @apply font-lora; 
  }
}



